/*--------------------------------------------------------------
  # General Styling & Shared Classes
  --------------------------------------------------------------*/
body {
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  //color: var(--accent-color);
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  //color: color-mix(in srgb, var(--accent-color), transparent 25%);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark;
  font-family: $font-family-secondary;
}

img {
  max-width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

.wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
