$primary: #424874;
$secondary: #a6b1e1;
$tertiary: #cc3333;
$white: #ffffff;
$light: #f2f2f2;
$gray: #8c8c8c;
$dark: #595959;
$black: #0d0d0d;
$font-family-base: "JetBrains Mono", "Lucida Console", monospace;
$font-family-secondary: "Raleway", sans-serif;
$font-family-tertiary: "Poppins", sans-serif;
$font-size-root: 18px;
$font-size-base: 1rem;
$font-size-sm: $font-size-base * 0.875;
$body-color: $black;
$body-bg: $white;
$h1-font-size: $font-size-base * 2;
$h2-font-size: $font-size-base * 1.75;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.25;
$h5-font-size: $font-size-base * 1.125;
$h6-font-size: $font-size-base;
$headings-font-family: $font-family-secondary;
$headings-font-weight: 600;
$headings-margin-bottom: 0;
